* {

}


/* background color of the whole table view */
.table-view {
    -fx-background-color: linear-gradient(#2B292D 0%, #1A191B 100%);

    /* Make the annoying borders transparent */
    -fx-table-cell-border-color: transparent;
}



/* Background color of the top column names */
.table-view .column-header-background {
    -fx-background-color: transparent;
    /* Gives the border to the top under the column names */
    -fx-border-width: 5;
    -fx-border-color: transparent transparent #5ad9bb transparent;
}

/* Top text column names */
.table-view .column-header-background .label {
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

/* make the rows transparent */
.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: transparent;
}

.table-row-cell:filled {

}

/* Color of a selected song */
.table-row-cell:selected {
    -fx-background-color: #2B292D; /* Background color for the rows */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-color: transparent; /* Prevent row separators from breaking the look */
    -fx-border-radius: 10; /* Ensure borders match the background rounding */
}

.table-row-cell:hover:filled {
    -fx-background-color: #2B292D; /* Background color for the rows */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-color: transparent; /* Prevent row separators from breaking the look */
    -fx-border-radius: 10; /* Ensure borders match the background rounding */
}

#kolonne_number {
    -fx-alignment: center; /* Centers the text in the column */
}

/* Centers the column header for number */
.table-view .column-header#kolonne_number .label {
    -fx-alignment: CENTER;
}

/* Make sure the text in the table view is always white*/
.table-view .table-cell {
    -fx-text-fill: white;
}

.table-view .button {
    -fx-background-color: transparent;
}

/* Scrollbar */

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #1A191B;
}

.scroll-bar:horizontal {
    -fx-background-color: #1A191B;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #2B292D;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #1A191B;
}

/* Removes the weird box above the scroll bar */
.table-view .filler {
    -fx-background-color: transparent; /* Match this to your theme */
}



