VBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -fx-background-color: whitesmoke;
}

.slider .track {
    -fx-background-color: transparent;
}

.slider .thumb {
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.progress-bar .track {
    -fx-background-radius: 10;
}

.progress-bar .bar {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right, orange, yellow);
    -fx-background-insets: 0px;
}

.progress-bar .track {
    -fx-background-color: #dbdbdb;
}