* {

}


/* background color of the whole table view */
.table-view {
    -fx-background-color: linear-gradient(#2B292D 0%, #1A191B 100%);

    /* Make the annoying borders transparent */
    -fx-table-cell-border-color: transparent;
}



/* Background color of the top column names */
.table-view .column-header-background {
    -fx-background-color: transparent;
    /* Gives the border to the top under the column names */
    -fx-border-width: 5;
    -fx-border-color: transparent transparent #5ad9bb transparent;
}

/* Top text column names */
.table-view .column-header-background .label {
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

/* make the rows transparent */
.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: transparent;
}

/* Color of a selected song */
.table-row-cell:selected {
    -fx-background-color: #2B292D;
}

#kolonne_number {
    -fx-alignment: center; /* Centers the text in the column */
}

/* Centers the column header for number */
.table-view .column-header#kolonne_number .label {
    -fx-alignment: CENTER;
}

/* Make sure the text in the table view is always white*/
.table-view .table-cell {
    -fx-text-fill: white;
}


