

/* Fixes the white edges on the scrollpane */
.scroll-pane .viewport {
    -fx-background-color: transparent; /* Ensures viewport doesn't override */
}
ScrollPane {
    -fx-background-color: transparent;
}

HBox {
    -fx-background-color: transparent;
}

VBox {
    -fx-background-color: #121318;
    -fx-background-radius: 20;
}


.button:hover {
    -fx-text-fill: white;
    -fx-border-color: #23D8DD;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.separator .line {
    -fx-background-color: #23D8DD;
    -fx-pref-height: 2;
    -fx-border-color: null ;
}

/* Scrollbar */

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #1A191B;
}

.scroll-bar:horizontal {
    -fx-background-color: #1A191B;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #2B292D;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #1A191B;
}

/* Removes the weird box above the scroll bar */
.table-view .filler {
    -fx-background-color: transparent;
}